<section class="thirdSection">
  <div class="thirdSection_mainSection">
    <div class="thirdSection_mainSectionElems">
      <!-- ea logo -->
      <img width="250" src="../../assets/Logos/EA-Play-logo.svg" alt="" />
      <!-- ea logo -->
      <p>
        Non limitarti al gioco. Gioca al massimo. Sblocca ricompense
        <br />esclusive, contenuti per i soli membri e una libreria dei migliori
        <br />titoli.
      </p>
      <!-- white button -->
      <button class="bttn-one btnHover1 bttnSize">Iscriviti subito</button>
      <!-- white button -->
    </div>
  </div>
  <div class="thirdSection_secondSection">
    <h3>
      Genitori: il controllo dei videogiochi è nelle <br />
      vostre mani.
    </h3>
    <!-- transparent button -->
    <button class="bttn-two btnHover2 btnSize">Scopri di più</button>
    <!-- transparent button -->
  </div>
</section>
<!-- FINE! Third_section -->
