<!-- Footer -->
<footer class="footer">
    <div class="footer-up">
      <div class="footer-up-menu">
        <ul>
          <li><a href="#">Rapporto sull'impatto</a></li>
          <li><a href="#">Dirigenza</a></li>
          <li><a href="#">Sicurezza e privacy</a></li>
          <li><a href="#">Attività politiche</a></li>
          <li><a href="#">Segnala un problema</a></li>
          <li><a href="#">Dichiarazione globale sul rispetto dei diritti umani</a></li>
        </ul>
      </div>
      <div class="footer-up-social-links">
        <h3>Partecipa alla conversazione</h3>
        <ea-social-icons></ea-social-icons>
      </div>
    </div>
    <div class="footer-down-wrapper">      
      <div class="footer-down">
      <div class="footer-down-left" >
        <img src="design-system/Logos/october-ea-ring.png" alt="" width="60">
      </div>
      <div class="footer-down-center" style="width: 100%;">
        <div class="footer-down-center-up">
          <div class="footer-down-menu">
            <ul>
              <li><a href="#">Libreria dei giochi</a></li>
              <li><a href="#">Registrati</a></li>
              <li><a href="#">Origin</a></li>
              <li><a href="#">Informazioni</a></li>
              <li><a href="#">Accessibilità</a></li>
              <li><a href="#">Aiuto</a></li>
            </ul>
        </div>
        <div>
          <div class="btn-group dropup dropPers">
            <button
              type="button"
              class="btn dropdown-toggle dropPers"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="height: 50px; width: 180px; border: 1px solid gray;"
            >
              Italia
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-down"
                viewBox="0 0 16 16"
                style="margin-left: 60px"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </button>
            <ul class="dropdown-menu">
              <div class="flex-row">
                <li>
                  <div class="flex">
                    <a href="#" class="language-link">
                     <div>
                        <img src="/assets/footer_imgs/Flags/US.png"> United States 
                        <img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="US" width="15px"> 
                     </div>
                    </a>
                    <a href="#" class="language-link"><div><img src="/assets/footer_imgs/Flags/UK.png"> United Kingdom <img class="spunta-off"  src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="UK" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/AU.png"> Australia<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="AU" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/FR.png"> France<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="FR" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/DE.png"> Deutschland<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="DE" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/IT.png"> Italia<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="IT" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/JP.png"> 日本<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="JP" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/PL.png"> Polska<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="PL" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/BR.png"> Brasil<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="BR" width="15px"></div></a>
                  </div>
                </li>
                <li>
                  <div class="flex">
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/RU.png"> Россия<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="RU" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/ES.png"> España<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="ES" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/CR.png"> Česká republika<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="CR" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/CN.png"> Canada (En)<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="CN" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/CN.png"> Canada (Fr)<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="CN" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/DN.png"> Danmark<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="DN" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/SU.png"> Suomi<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="SU" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/ME.png"> México<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="ME" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/NE.png"> Nederland<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="NE" width="15px"></div></a>
                  </div>
                </li>
                <li>
                  <div class="flex">
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/NO.png"> Norge<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="NO" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/SV.png"> Sverige<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="SV" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/SV.png">中国<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="SV" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/SK.png"> 대한민국<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="SK" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/SV.png">繁體中文<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="SV" width="15px"></div></a>
                    <a href="#" class="language-link"><div><img src="\assets\footer_imgs/Flags/TU.png"> Türkiye<img class="spunta-off" src="\assets\footer_imgs/spunta-menú-dropup.svg" alt="TU" width="15px"></div></a>
                  </div>
                </li>
              </div>
            </ul>
          </div>
        </div>
        </div>
        <div class="footer-down-center-down">
          <div class="footer-down-center-menu">
            <ul>
              <li><a href="#">Note legali</a></li>
              <li><a href="#">Accordo con l`utente</a></li>
              <li><a href="#">Politica sulla privacy e sui cookie (i tuoi diritti sulla privacy)</a></li>
              <li><a href="#">Aggiornamenti sui servizi online</a></li>
              <li><a href="#">Termini di servizio di YouTube</a></li>
              <li><a href="#">Norme sulla privacy di Google</a></li>
              <li><a href="#">Cookie Preferenze</a></li>
              <div class="copyright">© 2021 Electronic Arts Inc. </div>
            </ul>
        </div>
        <div class="seal-container">
          <a href="#" class="seal"><img style="width: 180px" src="\assets\footer_imgs/seal.svg" alt=""></a>
        </div>
        

        
      </div>
      
      </div>
    </div>
  </div>

  </footer>
  <!-- Fine Footer -->

<script>

// let elemento = document.querySelectorAll(".language-link")
// elemento.forEach(el => {
//   el.addEventListener("click",(event)=>{
//     let x = event.target.firstElementChild.nextElementSibling
//     console.log(event.target)
//     elemento.forEach((el2) => {
//       let y = el2.firstElementChild.firstElementChild.nextElementSibling
//       console.log(el2)
//       y.classList.remove("spunta-on")
//       y.classList.add("spunta-off")
//       //  console.log(y)
//     })
//     x.classList.remove("spunta-off")
//     x.classList.add("spunta-on");
//   })
// });

// </script>
