<footer class="footer">
    <div class="footer-up">
      <div class="footer-up-menu">
        <ul>
          <li><a href="#">Rapporto sull'impatto</a></li>
          <li><a href="#">Dirigenza</a></li>
          <li><a href="#">Sicurezza e privacy</a></li>
          <li><a href="#">Attività politiche</a></li>
          <li><a href="#">Segnala un problema</a></li>
          <li><a href="#">Dichiarazione globale sul rispetto dei diritti umani</a></li>
        </ul>
      </div>
      <div class="footer-up-social-links">
        <h3>Partecipa alla conversazione</h3>
        <ea-social-icons></ea-social-icons>
      </div>
    </div>
    <div class="footer-down-wrapper">      
      <div class="footer-down">
      <div class="footer-down-left" >
        <img src="assets\Logos\EA-red-logo.png" alt="EA_RING" width="60">
      </div>
      <div class="footer-down-center">
        <div class="footer-down-center-up">
          <div class="footer-down-menu">
            <ul>
              <li><a href="#">Libreria dei giochi</a></li>
              <li><a href="#">Registrati</a></li>
              <li><a href="#">Origin</a></li>
              <li><a href="#">Informazioni</a></li>
              <li><a href="#">Accessibilità</a></li>
              <li><a href="#">Aiuto</a></li>
            </ul>
        </div>
        <div>
          <ea-drop-up></ea-drop-up>
        </div>
        </div>
        <div class="footer-down-center-down">
          <div class="footer-down-center-menu">
            <ul>
              <li><a href="#">Note legali</a></li>
              <li><a href="#">Accordo con l`utente</a></li>
              <li><a href="#">Politica sulla privacy e sui cookie (i tuoi diritti sulla privacy)</a></li>
              <li><a href="#">Aggiornamenti sui servizi online</a></li>
              <li><a href="#">Termini di servizio di YouTube</a></li>
              <li><a href="#">Norme sulla privacy di Google</a></li>
              <li><a href="#">Cookie Preferenze</a></li>
              <div class="copyright">© 2022 Electronic Arts Inc. </div>
            </ul>
        </div>
        <div class="seal-container">
          <a href="https://privacy.truste.com/privacy-seal/validation?rid=2593a571-b03b-4951-9a22-c175bd66b351&lang=it" class="seal"><img style="width: 180px" src="\assets\footer_imgs/seal.svg" alt="Quality Seal"></a>
        </div>
      </div>
      </div>
    </div>
  </div>
  </footer>