<div class="socialSvgs bg-secondary">
  <div>
    <img src="assets/design-system/Social-Svgs/facebook-icon.svg" alt="" />
  </div>
  <div>
    <img src="assets/design-system/Social-Svgs/twitter-icon.svg" alt="" />
  </div>
  <div>
    <img src="assets/design-system/Social-Svgs/YouTube-icon.svg" alt="" />
  </div>
  <div>
    <img src="assets/design-system/Social-Svgs/instagram-icon.svg" alt="" />
  </div>
  <div>
    <img src="assets/design-system/Social-Svgs/twitch-purple-icon.svg" alt="" />
  </div>
  <span class="titleComponent">Social Icons</span>
</div>
