<section class="secondSection">
  <div class="secondSection_mainSection">
    <h3>Ultime novità</h3>
    <nav>
      <ul>
        <li>
          <div class="secondSection_Div"><a href="http://">Notizie EA</a></div>
        </li>
        <li>
          <div class="secondSection_Div"><a href="http://">EA Play</a></div>
        </li>
        <li>
          <div class="secondSection_Div"><a href="http://">FIFA</a></div>
        </li>
        <li>
          <div class="secondSection_Div">
            <a href="http://">Apex Legends</a>
          </div>
        </li>
        <li>
          <div class="secondSection_Div"><a href="http://">Battlefield</a></div>
        </li>
        <li>
          <div class="secondSection_Div"><a href="http://">The Sims 4</a></div>
        </li>
        <li>
          <div class="secondSection_Div"><a href="http://">F1 2021</a></div>
        </li>
        <li>
          <div class="secondSection_Div"><a href="http://">Inside EA</a></div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="secondSection_secondSection">
    <div class="secondSection_cards">
      <div class="cards_elements">
        <!-- first line cards -->
        <div class="firstLineCards">
          <ea-red-white-card></ea-red-white-card>
          <ea-red-white-card></ea-red-white-card>
          <ea-red-white-card></ea-red-white-card>
        </div>
        <!-- fine first line cards -->
        <!-- second line cards -->
        <div class="secondLineCards">
          <ea-red-white-card></ea-red-white-card>
          <ea-red-white-card></ea-red-white-card>
          <ea-red-white-card></ea-red-white-card>
        </div>
        <!-- fine second line cards -->
      </div>
    </div>
    <div class="secondSection_button">
      <!-- transparent button -->
      <button class="bttn-two btnHover2 btnSize">Più dettagli</button>
      <!-- transparent button -->
    </div>
  </div>
</section>
