<section class="secondSection">
  <ea-list-component></ea-list-component>
  <div class="secondSection_secondSection">
    <div class="secondSection_cards">
      <div class="cards_elements">
        <!-- first line cards -->
        <div class="firstLineCards">
          <ea-red-white-card></ea-red-white-card>
          <ea-red-white-card></ea-red-white-card>
          <ea-red-white-card></ea-red-white-card>
        </div>
        <!-- fine first line cards -->
        <!-- second line cards -->
        <div class="secondLineCards">
          <ea-red-white-card></ea-red-white-card>
          <ea-red-white-card></ea-red-white-card>
          <ea-red-white-card></ea-red-white-card>
        </div>
        <!-- fine second line cards -->
      </div>
    </div>
    <div class="secondSection_button">
      <!-- transparent button -->
      <button class="bttn-two btnHover2 btnSize">Più dettagli</button>
      <!-- transparent button -->
    </div>
  </div>
</section>
