<div class="main-container">
  <div class="sub-main-container">
    <div class="loginUpper">
      <img
        style="cursor: pointer"
        src="assets\Logos\EA-red-logo.png"
        alt="EALOGO"
        width="60"
        routerLink="/home"
      />
      <h3>Accedi con il tuo account EA</h3>
    </div>
    <div class="formCont">
      <!-- <ea-form></ea-form> -->
      <form #loginForm="ngForm" style="width: 100%">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >TELEFONO O E-MAIL</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Inserisci numero di telefono o e-mail"
            pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
            name="email"
            required
            ngModel
          />
          <p
            *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)"
            class="text-danger"
          >
            Il tuo indirizzo e-mail non è valido
          </p>
        </div>
        <div class="mb-3 pswcont">
          <div>
            <label for="exampleInputPassword1" class="form-label"
              >PASSWORD</label
            >
          </div>
          <div class="pswcont1">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Inserisci la password"
              name="password"
              required
              ngModel
            />
          </div>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Ricordami</label>
        </div>
        <ea-blue-form-button
          [buttonLabel]="'Accedi'"
          (click)="access(loginForm.value)"
        ></ea-blue-form-button>
      </form>
    </div>
    <a href="">Hai bisogno di aiuto per accedere?</a>
    <div class="separatorcont">
      <div class="leftsep"></div>
      <div class="separator">oppure prosegui con</div>
      <div class="rightsep"></div>
    </div>
    <div class="social-login-logos">
      <div>
        <a href=""
          ><img
            class="socialIcons"
            src="assets\Social_login_icons\facebook.png"
            alt="Facebook"
            width="50"
            height="50"
        /></a>
      </div>
      <div>
        <a href=""
          ><img
            class="socialIcons"
            src="assets\Social_login_icons\apple.jpg"
            alt="Apple"
            width="50"
            height="50"
        /></a>
      </div>
      <div>
        <a href=""
          ><img
            class="socialIcons"
            src="assets\Social_login_icons\steam.jpg"
            alt="Steam"
            width="50"
            height="50"
        /></a>
      </div>
      <div>
        <a href=""
          ><img
            class="socialIcons"
            src="assets\Social_login_icons\xbox.jpg"
            alt="X-Box"
            width="50"
            height="50"
        /></a>
      </div>
      <div>
        <a href=""
          ><img
            class="socialIcons"
            src="assets\Social_login_icons\psn.jpg"
            alt="PSN"
            width="50"
            height="50"
        /></a>
      </div>
    </div>
    <span>Sei nuovo su EA? <a href="">Crea un account EA</a></span>
  </div>
</div>
