<div class="main-container">
    <div class="sub-main-container">

        <div class="loginUpper">
            <img src="assets\Logos\EA-red-logo.png" alt="EALOGO" width="60">
            <h3>Accedi con il tuo account EA</h3> 
        </div>
        <div class="formCont">
            <ea-form></ea-form>
            <ea-blue-form-button [buttonLabel]="'Accedi'"></ea-blue-form-button>
        </div>
        <a href="">Hai bisogno di aiuto per accedere?</a>
        <div class="separatorcont">
            <div class="leftsep"></div>
            <div class="separator">oppure prosegui con</div>
            <div class="rightsep"></div>
        </div>
        <div class="social-login-logos">
            <div>        
                <a href=""><img class="socialIcons" src="assets\Social_login_icons\facebook.png" alt="Facebook" width="50"height="50"></a>
            </div>
            <div>        
                <a href=""><img class="socialIcons"src="assets\Social_login_icons\apple.jpg" alt="Apple" width="50"height="50"></a>
            </div>
            <div>        
                <a href=""><img class="socialIcons"src="assets\Social_login_icons\steam.jpg" alt="Steam"width="50"height="50"></a>
            </div>
            <div>        
                <a href=""><img class="socialIcons"src="assets\Social_login_icons\xbox.jpg" alt="X-Box"width="50"height="50"></a>
            </div>
            <div>        
                <a href=""><img class="socialIcons"src="assets\Social_login_icons\psn.jpg" alt="PSN"width="50" height="50"></a>
            </div>    
        </div>
        <span>Sei nuovo su EA? <a href="">Crea un account EA</a></span>
    </div>
</div>
