<div class="leftDiv">
  <div class="container-sm bg-secondary flex-row-space">
    <!-- Buttons -->

    <div class="rel-pos">
      <button
        class="bttn btnHover btnSize"
        onclick="location.href='www.google.it'"
      >
        Orange Button
      </button>
      <button class="bttn-two btnHover2 btnSize">Transparent Button</button>
      <button
        class="bttn-three btnHover3 btnSize"
        onclick="location.href='www.google.it'"
      >
        Red Button
      </button>
    </div>
    <div class="secondDivContainer">
      <!-- Pagination -->

      <div class="paginationBttns">
        <div class="previousBttn">Indietro</div>
        <div class="numbersBttn">
          <span class="firstSpan">1</span><span class="secondSpan">2</span>
        </div>
        <div class="nextBttn">Successivo</div>
      </div>

      <!-- ScrollBar -->
      <div class="scrollBarPers">
        <div class="leftBttn"><</div>
        <div class="scrollBarBttn">
          <div class="scrollBarBttnNav"></div>
        </div>
        <div class="rightBttn">></div>
      </div>

      <!-- DropUp -->

      <div class="btn-group dropup dropPers">
        <button
          type="button"
          class="btn dropdown-toggle dropPers"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="height: 50px; width: 180px"
        >
          Dropup
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chevron-down"
            viewBox="0 0 16 16"
            style="margin-left: 60px"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </button>
        <ul class="dropdown-menu">
          <div class="flex-row">
            <li>
              <div class="flex">
                <div>ciao1</div>
                <div>ciao2</div>
                <div>ciao3</div>
                <div>ciao4</div>
                <div>ciao5</div>
                <div>ciao6</div>
                <div>ciao7</div>
                <div>ciao8</div>
                <div>ciao9</div>
                <div>ciao10</div>
              </div>
            </li>
            <li>
              <div class="flex">
                <div>ciao1</div>
                <div>ciao2</div>
                <div>ciao3</div>
                <div>ciao4</div>
                <div>ciao5</div>
                <div>ciao6</div>
                <div>ciao7</div>
                <div>ciao8</div>
                <div>ciao9</div>
                <div>ciao10</div>
              </div>
            </li>
            <li>
              <div class="flex">
                <div>ciao1</div>
                <div>ciao2</div>
                <div>ciao3</div>
                <div>ciao4</div>
                <div>ciao5</div>
                <div>ciao6</div>
                <div>ciao7</div>
                <div>ciao8</div>
                <div>ciao9</div>
                <div>ciao10</div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto my-5 bttnAlignCenter">
      <button class="btn btn-primary bttnBlueSize" type="button">Button</button>
    </div>
    <div class="titleComponent">Button Styles</div>
  </div>
</div>
<div class="rightDiv"></div>
