<div class="leftDiv"><p>Left Div</p></div>
<div class="rightDiv">
  <div class="col bg-secondary">
    <div class="row">
      <p>Right Div</p>
      <div class="col my-4 disFlex2" style="gap: 20px; align-items: center">
        <ea-red-white-card></ea-red-white-card>
        <ea-square-effect-card></ea-square-effect-card>
        <ea-mass-effect-card></ea-mass-effect-card>
      </div>
      <div class="col my-4 disFlex2" style="gap: 20px; align-items: center">
        <ea-red-card></ea-red-card>
        <ea-darkgrey-card></ea-darkgrey-card>
        <ea-azure-card></ea-azure-card>
        <ea-lightgrey-card></ea-lightgrey-card>
      </div>
    </div>
  </div>
</div>
