.leftDiv {
  height: 90%;
  flex-grow: 1;
  /* width: fit-content; */
  background-color: rgb(143, 209, 209);
}

.rightDiv {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  height: 90%;
  flex-grow: 1;
  /* width: fit-content; */
  background-color: rgb(185, 153, 218);
}
