<div class="leftDiv"><p>Left Div</p></div>
<div class="rightDiv">
  <div class="bg-secondary">
    <div class="d-flex px-4" style="gap: 20px">
      <div class="my-4 ciao" style="gap: 20px; align-items: center">
        <ea-red-white-card></ea-red-white-card>
        <ea-square-effect-card></ea-square-effect-card>
        <ea-mass-effect-card></ea-mass-effect-card>
      </div>
      <div class="my-4 ciao">
        <ea-red-card></ea-red-card>
        <ea-darkgrey-card></ea-darkgrey-card>
        <ea-azure-card></ea-azure-card>
        <ea-lightgrey-card></ea-lightgrey-card>
      </div>
    </div>
  </div>
</div>
