@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

.contenitore {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: linear-gradient(181deg, violet, black);
}
.leftDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27.8px;
  padding: 20px 0;
}

.rightDiv {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.d-flex {
  gap: 20px;
}

.disFlex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.titleComponent {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
  font-weight: bolder;
  letter-spacing: 10px;
}
.colorsPers {
  height: 150px;
  width: 340px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  position: relative;
}
.colorsPers div {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}
.flex-row-space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  border-radius: 8px;
  width: 700px;
}

.headers {
  height: 200px;
  width: 340px;
  border-radius: 8px;
  /* text-align: center; */
  color: black;
  position: relative;
}
.headers h1,
.headers h2,
.headers h4,
.headers h5 {
  font-weight: bold;
  text-decoration: underline;
  padding-left: 10px;
}
.headers .titleComponent {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-weight: bolder;
  letter-spacing: 5px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  width: 340px;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.headersAndLogos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ciao {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rounded-5 {
  border-radius: 8px;
  height: fit-content;
}
