@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");

.designSystemClass {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ciao3 {
  height: 100vh;
  width: 100vw;
}
.d-flex {
  height: 100%;
  width: 100%;
}
