<div class="secondSection_mainSection">
  <h3>Ultime novità</h3>
  <nav>
    <ul>
      <li>
        <div class="secondSection_Div"><a href="http://">Notizie EA</a></div>
      </li>
      <li>
        <div class="secondSection_Div"><a href="http://">EA Play</a></div>
      </li>
      <li>
        <div class="secondSection_Div"><a href="http://">FIFA</a></div>
      </li>
      <li>
        <div class="secondSection_Div">
          <a href="http://">Apex Legends</a>
        </div>
      </li>
      <li>
        <div class="secondSection_Div"><a href="http://">Battlefield</a></div>
      </li>
      <li>
        <div class="secondSection_Div"><a href="http://">The Sims 4</a></div>
      </li>
      <li>
        <div class="secondSection_Div"><a href="http://">F1 2021</a></div>
      </li>
      <li>
        <div class="secondSection_Div"><a href="http://">Inside EA</a></div>
      </li>
    </ul>
  </nav>
</div>
