.navBar {
  height: 50px;
  display: flex;
  align-items: center;
  z-index: 4;
}
.navBarDots {
  height: 19px;
  width: fit-content;
  margin-left: 20px;
  transition: linear 0.2s;
  margin-bottom: 13px;
}
.divAlignLeft {
  height: 100%;
  display: flex;
  align-items: center;
}
.divLinks {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}
.divLinks div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eaImg {
  padding: 0 30px;
}

.divLinks div svg {
  margin-left: 10px;
}

.navBarDots:hover {
  height: 19px;
  width: fit-content;
  margin-left: 20px;
  transform: scale(1.5);
  fill: tomato;
  transition: linear 0.2s;
}
