.navBar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 4;
  position: fixed;
  background-color: white;
  transition: all linear 0.5s;
}
.navBarDots {
  height: 19px;
  width: fit-content;
  margin-left: 20px;
  transition: linear 0.2s;
  margin-bottom: 13px;
}
.divAlignLeft {
  height: 100%;
  display: flex;
  align-items: center;
}
.divLinks {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}
.divLinks div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eaImg {
  padding: 0 30px;
}

.divLinks div svg {
  margin-left: 10px;
}

.navBarDots:hover {
  height: 19px;
  width: fit-content;
  margin-left: 20px;
  transform: scale(1.5);
  fill: tomato;
  transition: linear 0.2s;
}

.topPosition{
  transform: translateY(-40px);
  position: fixed;
  transition: all linear 0.5s;
}

/* .topPosition{
  top: 0;
  position: fixed;
  transition: linear 0.5s;
} */

.curtainEA {
  width: 200px;
}

/* .asideDiv {
  height: 100vh;
  width: 420px;
  position: absolute;
  top: 40px;
  left: -450px;
  z-index: 9;
  background-color: white;
  transition: ease-in-out 0.3s;
  padding: 0 30px;
  overflow-y: scroll;
}

.asideDiv::-webkit-scrollbar {
  display: none;
}

.darkBgDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.5);
}

.asideDivOnClick {
  left: 0;
}

.svgDiv {
  height: 16px;
  width: 16px;
  padding-bottom: 25px;
}

.eaPlayDiv {
  width: 100%;
  height: 320px;
  background-image: url(../../assets/Background-images/bg-eaPlay-aside.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.littleCardAside {
  height: 150px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardFifa {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/Background-images/immagini_prima_section/fifa22.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.cardNfs {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/Background-images/immagini_prima_section/need_For_Speed_HotPursuit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cardBattlefield {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/Background-images/immagini_prima_section/battlefield_2042.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cardApex {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/Background-images/immagini_prima_section/apex_Legends.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cardTheSims {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/Background-images/immagini_prima_section/The_Sims_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cardF1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/Background-images/immagini_prima_section/F1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */
