.bttnAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bttnBlueSize {
  width: 460px;
  transition: linear 200ms;
  font-size: 25px;
  font-weight: bolder;
}

.bttnBlueSize:hover {
  box-shadow: 0px 0px 10px 5px #1d2033;
  transform: scale(0.99);
  transition: linear 200ms;
}
