<div class="socialSvgs">
  <div>
    <img src="assets/design-system/Social-Svgs/facebook-icon.svg" alt="" />
  </div>
  <div>
    <img src="assets/design-system/Social-Svgs/twitter-icon.svg" alt="" />
  </div>
  <div>
    <img src="assets/design-system/Social-Svgs/YouTube-icon.svg" alt="" />
  </div>
  <div>
    <img src="assets/design-system/Social-Svgs/instagram-icon.svg" alt="" />
  </div>
  <div>
    <img src="assets/design-system/Social-Svgs/twitch-purple-icon.svg" alt="" />
  </div>
</div>
