<div class="socialSvgs">
  <div>
    <a href="https://www.facebook.com/EA/">    
      <img src="assets/design-system/Social-Svgs/facebook-icon.svg" alt="Facebook-icon" />
    </a>
  </div>
  <div>
    <a href="https://www.twitter.com/ea">
      <img src="assets/design-system/Social-Svgs/twitter-icon.svg" alt="Twitter-icon" />
    </a>
  </div>
  <div>
    <a href="https://www.youtube.com/EAvideos">
    <img src="assets/design-system/Social-Svgs/YouTube-icon.svg" alt="YouTube-icon" />
  </a>
  </div>
  <div>
    <a href="https://www.instagram.com/ea">
    <img src="assets/design-system/Social-Svgs/instagram-icon.svg" alt="instagram-icon" />
  </a>
  </div>
  <div>
    <a href="https://www.twitch.tv/ea">
      <img src="assets/design-system/Social-Svgs/twitch-purple-icon.svg" alt="Twitch-icon" />
    </a>
  </div>
</div>
