<div
  class="formPers bg-secondary"
  style="
    margin-bottom: 0px !important;
    height: 322px;
    width: 700px;
    padding-top: 50px;
  "
>
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >TELEFONO O E-MAIL</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
      <span class="eyeInput"
        ><img src="assets/design-system/other-icons/eye-input-form.svg" alt=""
      /></span>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Ricordami</label>
    </div>
  </form>
  <span class="titleComponent">Form Fields</span>
</div>
