.formPers {
  border-radius: 8px;
  padding: 20px 0;
}
.form-control {
  height: 50px;
  background-color: #141724;
  color: white;
  border-radius: 8px;
  border: 2px solid #62626f;
  transition: linear 300ms;
}
::placeholder {
  color: white;
}
.form-label,
.form-check {
  color: white;
  font-weight: bolder;
}
.form-check-input {
  background-color: #141724;
  border: #62626f;
  border-radius: 4px;
  transition: linear 300ms;
}

.form-control:hover {
  border: 2px solid #908e97;
  transition: linear 300ms;
  box-shadow: 0 0 25px 20px #1e2133;
}
.form-control:focus {
  border: 2px solid #ffffff;
  transition: linear 300ms;
  background-color: #141724;
}

.form-check-input:hover {
  box-shadow: 0 0 25px 20px #1e2133;
  transition: linear 300ms;
}
.form-check-input:focus {
  border: 2px solid #ffffff;
  transition: linear 300ms;
  background-color: #1b4ab0;
  box-shadow: 0 0 30px 2px #ffffff;
}
.mb-3 {
  position: relative;
}
.pswcont {
  display: flex;
  flex-direction: column;
}

.eyeInput {
  border-radius: 8px;
  height: 33px;
  width: 40px;
  background-color: #54545d6e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 300ms;
}
.eyeInput:hover {
  background-color: #141724;
  transition: linear 300ms;
  transform: scale(0.95);
}

.formPers {
  position: relative;
}

.titleComponent {
  position: absolute;
  bottom: 2px;
  right: 20px;
  color: white;
  font-weight: bolder;
  letter-spacing: 10px;
}
