<div class="asideDiv {{ nomeClasseAside }}">
  <div
    class="py-5 d-flex flex-wrap gap-3 justify-content-center"
    style="width: 100%; height: 100%"
  >
    <div
      class="d-flex justify-content-between align-items-center mb-3"
      style="height: 50px; width: 100%"
    >
      <span class="tuttiIgiochi"
        >Tutti i giochi</span
      >
      <div class="svgDiv" (click)="closeAsideDiv()">
        <svg
          class="eapl-local-nav__close-icon"
          x="0px"
          y="0px"
          viewBox="0 0 16 16"
          style="enable-background: new 0 0 16 16"
        >
          <path
            d="M13.4,11.9l-4-4l3.9-3.9c0.6-0.6,0.7-1.3,0.3-1.7c-0.4-0.4-1.2-0.3-1.7,
            0.3L8,6.6l-4-4 C3.5,2.1,2.7,1.9,2.3,2.3C1.9,2.7,2.1,3.5,2.6,4.1l4,
            4l-3.9,3.9c-0.6,0.6-0.7,1.3-0.3,1.7c0.4,0.4,1.2,0.3,1.7-0.3L8,9.4l4,
            4 c0.6,0.6,1.3,0.7,1.7,0.3C14.1,13.3,13.9,12.5,13.4,11.9z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="eaPlayDiv">
      <img class="imgEaDiv"
        src="../../assets/Logos/ea-play-logo-aside.svg"
        alt=""
        width="100px"
      />
    </div>
    <div
      class="sectionUnderEaPlayDiv d-flex gap-4 my-1 py-5 justify-content-center"
    >
      <div class="leftColumnOfSection d-flex row gap-4 justify-content-center">
        <div class="littleCardAside cardFifa">
          <img src="../../assets/Logos/FIFA-22-logo.png" alt="" width="70px" />
        </div>
        <div class="littleCardAside cardBattlefield">
          <img
            src="../../assets/Logos/Battlefield-2042-logo.svg"
            alt=""
            width="70px"
          />
        </div>
        <div class="littleCardAside cardTheSims">
          <img src="../../assets/Logos/TheSims-logo.png" alt="" width="70px" />
        </div>
      </div>
      <div class="rightColumnOfSection d-flex row gap-4 justify-content-center">
        <div class="littleCardAside cardNfs">
          <img src="../../assets/Logos/NFS-HP-logo.png" alt="" width="70px" />
        </div>

        <div class="littleCardAside cardApex">
          <img src="../../assets/Logos/apex-logo.svg" alt="" width="70px" />
        </div>

        <div class="littleCardAside cardF1">
          <img src="../../assets/Logos/F1-2021.svg" alt="" width="70px" />
        </div>
      </div>
    </div>
  </div>
</div>
