
.mainHeader {
  position: relative;
  overflow: visible;
  height: fit-content;
  padding-top: 40px;
}

.headerDiv {
  min-width: 100%;
  min-height: 40px;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all linear 0.5s;
}
 .icons {
  background-color: transparent;
  max-height: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top:10px;
  right: 30px;
  gap: 30px;
}
.icons div {
  cursor: pointer;
  display: block;
  fill: darkgray;
  background-color: transparent;
}
.icons > div > svg {
  width: 20px;
  height: 20px;
}
.icons div svg:hover {
  filter: brightness(150%);
}

/*/-----------------------------------------/*/

/* new css style */


.userIconCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  gap:250px;
  /* background-color: aqua; */
}

.wrapperQuestion{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.questionIconCenter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 600px;
  height: 200px;
  /* background-color: aqua; */
}

.upAndDownIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(229, 255, 0); */
  cursor: pointer;
  transition: all 150ms ;
  transform: translateY(0);

}

.upAndDownIcons:hover{
transform:translateY(-6px);
}

.iconGeneralClass {
  width: 40px;
  height: 40px;
}

.colorParagraph {
  color: white;
}

.xIcon {
  position: absolute;
  right:0;
  top: 50px;
}


.helpParagraph {
  font-size:1.6em;
  color:white;
}


.foundParagraph {
  font-size:1em;
  color:white;
}

.foundParagraph > a {
  color:red;
  text-decoration: none;
}

